<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h4>Company</h4>
                <nav class="nav flex-column">
                    <a>About us</a>
                    <a>Terms & conditions</a>
                    <a>FAQs</a>
                    <a>Privacy policy</a>
                </nav>
            </div>
            <div class="col mb-4">
                <h4>Support</h4>
                <nav class="nav flex-column">
                    <a>Troubleshoot</a>
                    <a>Report a bug</a>
                    <a>API</a>
                    <a>Privacy policy</a>
                </nav>
            </div>
            <div class="col mb-4">
                <h4>Recipe-App</h4>
                <nav class="nav flex-column">
                    <a>Partnerships</a>
                    <a>Terms & conditions</a>
                    <a>FAQs</a>
                    <a>Privacy policy</a>
                </nav>
            </div>
        </div>
        <hr>
        <p style="font-size: 12px;">Recipe-App &copy; &nbsp; All Rights Reserved.</p>
    </div>
</div>