<div class="container-fluid">
    <div class="hero-section">
        <h1 class="display-4">Delicious Meals Made Easy</h1>
        <div class="quote">
            <blockquote>
                <p class="lead">"One cannot think well, love well, sleep well, if one has not dined well."</p>
                <footer class="lead">— Virginia Woolf</footer>
            </blockquote>
        </div>
        <form [formGroup]="searchForm">
            <div class="form-group row">
                <input type="text" class="form-control" formControlName="search" placeholder="Search for a recipe i.e. chicken" [ngClass]="{ 'is-invalid': submitted && f.search.errors}">
                <button class="btn btn-info" type="button" (click)="search()"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row" id="results">
        <div *ngIf="found === false" class="card" id="card">
            <div class="card-body">
                Sorry, the recipe you are looking for cannot be found. Give it another try or consider the featured recipe.
            </div>
        </div>
        <div *ngFor="let recipe of recipes" class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{recipe.recipe.image}}" class="card-img-top" onerror="this.src='assets/images/food.jpg'">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.recipe.label}}</h5>
                    <button (click)="details(recipe.recipe.uri)" class="btn btn-primary">View Recipe</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!recipes" class="featured">
        <h1 class="display-5 mb-4">Featured Recipe</h1>
        <div *ngIf="isLoading === true" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngFor="let recipe of featured" class="card mb-3" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{recipe.image}}" class="card-img" onerror="this.src='assets/images/food.jpg'">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><span>Name:</span> {{recipe.label}}</p>
                        <p class="card-text"><span>Source :</span> {{recipe.source}}</p>
                        <p class="card-text"><span>Calories : </span>{{recipe.calories}}</p>
                        <p class="card-text"><span>Total Weight : </span>{{recipe.totalWeight}}</p>
                        <p class="card-text"><span>Diet Labels : </span>{{recipe.dietLabels}}</p>
                        <p class="card-text"><span>Health Labels : </span>{{recipe.healthLabels}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><span>Ingredients:</span></p>
                        <p class="card-text">{{recipe.ingredientLines}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>